<app-header></app-header>

<div class="container">
    <h1 class="display-4">Impressum - Firma XYZ</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>
    <address>
        Firma XYZ<br>
        Musterstraße 123<br>
        12345 Musterstadt<br>
        Vertreten durch: Max Mustermann<br>
        Email: info at firma-xyz.com<br>
        Telefon: +49 123 456789
    </address>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <address>
        Max Mustermann<br>
        Musterstraße 123<br>
        12345 Musterstadt
    </address>

    <h2>Haftungsausschluss:</h2>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>

    <h2>Datenschutzerklärung:</h2>
    <p>
        Unsere Datenschutzerklärung finden Sie unter <a href="/datenschutz">Datenschutz</a>.
    </p>
</div>

<app-footer></app-footer>