<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="profil-card">
          <div class="profil-header">
            <h2>Profil</h2>
          </div>
          <div class="profil-body">
            <div class="profil-info">
              <div class="profil-label">Name:</div>
              <div class="profil-value">{{ user.name }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">Email:</div>
              <div class="profil-value">{{ user.email }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">Telefonnummer:</div>
              <div class="profil-value">{{ user.phoneNumber }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">Adresse:</div>
              <div class="profil-value">{{ user.address }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">Zahlungsoption:</div>
              <div class="profil-value">{{ user.paymentOption }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">Bank:</div>
              <div class="profil-value">{{ user.bankName }}</div>
            </div>
            <div class="profil-info">
              <div class="profil-label">IBAN:</div>
              <div class="profil-value">{{ user.iban }}</div>
            </div>
            <!-- Weitere Benutzerinformationen hier einfügen, falls erforderlich -->
          </div>
        </div>
      </div>
    </div>
  </div>
  