<p>warenkorb works!</p>
<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Warenkorb</h1>
        <div class="artikel-container"  *ngFor="let artikel of warenkorb">
        <app-warenkorb-artikel [artikel]="artikel" ></app-warenkorb-artikel>
      </div>

        <div class="col" id="kasse">
          <h3>Gesamtsumme: {{summe}}</h3>    
        </div>
        
      <button class="btn btn-primary">Kauf Abschließen</button>
      
      </div>
    </div>
    
  </div>
<app-footer></app-footer>