body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.faq-section,
.arrival-section,
.location-section {
    background-color: rgb(255,255,255,0.5);
   border: #333 solid 5px;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h2 {
    color: #000000;
}

.accordion button {
    color: #000000;
}

.accordion button:hover {
    text-decoration: underline;
}

.accordion .card {
    border: none;
    border-bottom: 1px solid #dee2e6;
    background-color: #ffffff9d;
}

.accordion .card-body {
    padding: 15px;
}

.arrival-section ul {
    list-style: none;
    padding-left: 0;
}

.arrival-section ul li {
    margin-bottom: 10px;
}

.location-section p {
    line-height: 1.6;
}