<app-header></app-header>

  <!-- FAQ Sektion -->
  <div class="container faq-section">
    <h2 class="text-center mb-4">Häufig gestellte Fragen (FAQs)</h2>
    <div class="accordion" id="faqAccordion">
        <!-- Frage 1 -->
        <div class="card">
            <div class="card-header" id="faqHeading1">
                <h5 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#faqCollapse1"
                        aria-expanded="true" aria-controls="faqCollapse1">
                        Wie kann ich ein Produkt zurücksenden?
                    </button>
                </h5>
            </div>
            <div id="faqCollapse1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                <div class="card-body">
                    Sie können ein Produkt zurücksenden, indem Sie sich an unseren Kundendienst wenden.
                </div>
            </div>
        </div>

        <!-- Frage 2 -->
        <div class="card">
            <div class="card-header" id="faqHeading2">
                <h5 class="mb-0">
                    <button class="btn " type="button" data-toggle="collapse" data-target="#faqCollapse2"
                        aria-expanded="true" aria-controls="faqCollapse2">
                        Wie verfolge ich meine Bestellung?
                    </button>
                </h5>
            </div>
            <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                <div class="card-body">
                    Sie können Ihre Bestellung in Ihrem Benutzerkonto verfolgen oder den Kundendienst kontaktieren.
                </div>
            </div>
        </div>

        <!-- Weitere Fragen hier einfügen -->

    </div>
</div>

<!-- Ankunftsmöglichkeiten Sektion -->
<div class="container arrival-section">
    <h2 class="text-center mb-4">Ankunftsmöglichkeiten</h2>
    <p class="lead">Unser Standort ist gut erreichbar und bietet verschiedene Ankunftsmöglichkeiten:</p>
    <ul>
        <li><strong>Auto:</strong> Nutzen Sie die Autobahn A1, Ausfahrt XYZ.</li>
        <li><strong>Bahn:</strong> Der Bahnhof XYZ liegt nur wenige Kilometer entfernt.</li>
        <li><strong>Flugzeug:</strong> Der nächste Flughafen XYZ ist etwa 20 km entfernt.</li>
    </ul>
</div>

<!-- Standort Sektion -->
<div class="container location-section">
    <h2 class="text-center mb-4">Standortinformationen</h2>
    <p class="lead">Unser Geschäft befindet sich in einer malerischen Umgebung mit einfachem Zugang zu Annehmlichkeiten und Dienstleistungen. Besuchen Sie uns und entdecken Sie, was wir zu bieten haben!</p>
</div>


<app-footer></app-footer>